<div class="border container">
  <p id="notice"><%= notice %></p>
  <div class="row"> 
    <div class=""> 
      <h2 class="border-c">Tweets</h2>
      <%= render 'new', tweet: @tweet %>
      <% @tweets.each do |tweet| %>
        <div class="border m-5 p-2">
          <%= tweet.user.username%>
          <div class="tweets border rounded p-2">
            <%= tweet.tweet %>
          </div>
          <div class="d-inline-block">
            <%= link_to 'Edit', edit_tweet_path(tweet) %>
            <%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

